@model Capstone.ViewModels.AddPrefixViewModel

<h1>Add BCBS Prefix </h1>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add Your Prefix and it's Provider Location here</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" asp-controller="Prefix" asp-action="Add" method="post">

        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" asp-for="Prefix"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Prefix" placeholder="Enter prefix here">
                    <span asp-validation-for="Prefix"></span>
                </div>
            </div>

            @*dropdown menu for providers*@
            <div class="form-group">
                <label class="col-sm-2 control-label" asp-for="Providers"></label>
                <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                <span asp-validation-for="SelectedProvider"></span>
            </div>
              
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
