@model Capstone.ViewModels.ContactViewModel



@foreach (Provider item in Model.Providers)
{

    <p>@item.PhoneNumber</p>

}

@*@foreach (Store item in Model.Stores)
{

    <p>@item.PhoneNumber</p>

}*@

