
<div class="row">

    <div class="col-sm-12">
        <div class="box box-solid box-danger">
            <div class="box-header with-border bg-red-gradient">


                <h3 class="box-title">Provider Name</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <dl class="col-sm-4 dl-horizontal">
                    <dt>Phone Number:</dt>
                    <dd>813-888-1234</dd>
                    <dt>Eligibility Expiry: </dt>
                    <dd>End of the month.</dd>
                    <dt>Benefit Renewal:</dt>
                    <dd>
                        Benefits renew annualy.
                    </dd>

                    <dt>Plan:</dt>
                    <dd>Make sure plan number matches plan shown in Argus portal.</dd>


                </dl>



                <dl class="col-sm-4 dl-horizontal">
                    <dt>Pages to save:</dt>
                    <dd>2</dd>
                    <dt>What to save:</dt>
                    <dd>Plan & Benefits pages</dd>
                    <dt>Auth Note:</dt>
                    <dd>"See tree for benefits.</dd>

                </dl>


                <dl class="col-sm-4 dl-horizontal">
                    <dt>Associated Prefixes:</dt>
                    <dd>XJGH</dd>
                    <dd>JBSG</dd>
                    <dd>VMYH</dd>
                    <dd>DTS</dd>
                    <dd>VMAH</dd>


                </dl>


                <!-- /.box-body -->

            </div>

        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-4">
        <div class="box box-solid box-primary">
            <div class="box-header with-border bg-blue-gradient">


                <h3 class="box-title">Eligibility</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class=" dl-horizontal ">
                    <p>
                        <b>Adult Plans:</b>
                    </p>
                    <dt>Exam:</dt>
                    <dd> 12 months</dd>
                    <dt>Frames:</dt>
                    <dd> 24 months</dd>
                    <dt>Lenses:</dt>
                    <dd> 12 months</dd>
                    <dt>Contacts:</dt>
                    <dd> 12 months</dd>
                </dl>



                <dl class=" dl-horizontal">
                    <p>
                        <b>Child Plans:</b>
                    </p>
                    <dt>Exam:</dt>
                    <dd> 12 months</dd>
                    <dt>Frames:</dt>
                    <dd> 12 months</dd>
                    <dt>Lenses:</dt>
                    <dd> 12 months</dd>
                    <dt>Contacts:</dt>
                    <dd>Never</dd>

                </dl>

                <!-- /.box-body -->

            </div>

        </div>


    </div>
    <div class="col-sm-8">

        <div class="box box-solid box-primary">
            <div class="box-header with-border  bg-blue-gradient">

                <h3 class="box-title">Miscellaneous Notes</h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->

                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <lead>
                    <b>Instructions for use:</b>
                </lead>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, aperiam!</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>
                        Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->
    </div>
</div>


<!-- provider note end -->