<div class="container">
    <div class="row">
        <h1>Select a Provider to view it's note</h1>
       
    </div>
    <div class="row">

        <ul class="providersMenu">
            <li ><a href="#">Argus</a></li>
            <li>Premier</li>
            <li>Eyequest</li>

        </ul>



    </div>
</div>
